<div class="splash-background-container">
  <img src="<%= asset_url("splash_bg.jpg")%> ">
</div>

<div class="splash-body-container">
  <h1 class="splash-header">Treyo</h1>
  <ul class="log-in-options">
    <li class="log-in-tour">
      <form class="log-in-tour-form" action="/session" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input name="user[email]" type="hidden" value="eric">
        <input name="user[password]" type="hidden" value="password">
        <input type="submit" value="Take a tour" class="splash-button">
      </form>
    </li>
    <li class="log-in-tour">
      <a href="/session/new" class="splash-button">Sign in</a>
    </li>
    <li class="log-in-tour">
      <a href="/users/new" class="splash-button">Sign up</a>
    </li>
  </ul>
</div>
