<h1 class="board-title">My Boards</h1>

<ul class="boards-list"></ul>

<div class="boards-form-container">
  <div class="boards-form-button">
    <span class="boards-form-button-text">Create new board...</span>
  </div>
  <div class="boards-form"></ul>
</div>
