<form>
  <input type="text" name="board[title]" id="board_title" placeholder="Add a board..."></input>

  <input type="submit" class="create-board-button" value="Create">
  <i class="fa fa-times cancel-form-button"></i>
</form>
