<h1 class="board-title"><%= board.escape("title") %></h1>

<ul class="lists-list"></ul>
<div class="lists-form-container">
  <span class="lists-form-button">Add a list...</span>
  <div class="lists-form"></div>
</div>
