<a href="#/api/boards/<%= board.id %>"><h2 class="board-index-title"><%= board.escape("title") %></h2></a>
<i class="fa fa-caret-square-o-down delete"></i>
<div class="delete-dropdown-container"></div>
