<div class="card-modal-backdrop">
</div>

<div class="card-modal">
  <a class="card-modal-dismiss glyphicon glyphicon-remove" href="javascript:void(0)"></a>
  <h4><%= card.escape('title') %></h4>
 
  <div class="card-modal-items"></div>
</div>
