/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

body {
  background-color: rgb(14, 116, 175);
}


.delete {
  display: none;
  position: absolute;
  right: 5px;
  top: 0px;
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
}

.card-show:hover > .delete, .list-show:hover > .delete {
  display: block;
  color: #000;
}

.dragged {
  transform: rotate(5deg);
  box-shadow: 0 0 5px #000;
}

.list-placeholder {
  background-color: #1570ae;
}

.card-placeholder {
  background-color: #aaa;
}

input:focus {
  outline:0;
}
