.boards-index {
  margin-left: 20px;
}

.boards-list {
  display: inline-block;
}

.boards-index-item,
  .boards-form-button,
  .boards-form {
  position: relative;
  list-style: none;
  display: inline-block;
  vertical-align: top;
  background-color: rgba(0,0,0,0.12);
  width: 260px;
  height: 100px;
  margin-right: 10px;
  border-radius: 5px;
}

.boards-form {
  background-color: #e2e4e6;
  padding: 10px;
  border-radius: 5px;
}

.boards-index-item:hover {
  background-color: rgba(0,0,0,0.3);
}

.boards-index-item > a {
  display: block;
  position: absolute;
  text-decoration: none;
  color: #fff;
  width: 100%;
  height: 100%;
}

.board-index-title {
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  color: #fff;
  left: 10px;
  top: -10px;
}

.boards-show {
  margin-left: 20px;
  white-space: nowrap;
}


.board-title {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.boards-form {
  display: none;
  width: 260px;
}

.boards-form-container {
  display: inline-block;
  vertical-align: top;
}

.boards-form-button {
  position: relative;
  background-color: #ddd;
  text-align: center;
}

.boards-form-button:hover {
  cursor: pointer;
  background-color: #bbb;
}

.boards-form-button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 700;
  width: 200px;
}
