.navbar {
  background-color: #026aa7;
  border: none;
}

.navbar-default .navbar-brand {
  font-family: "Pacifico";
  font-size: 24px;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-default .navbar-brand:hover {
  color: #fff;
}
