<form>
  <% var text = model ? model.escape("title") : ""; %>
  <input type="text" name="list[title]" id="list_title" placeholder="Add a list..." value="<%= text %>"></input>

  <input class="submit-button" type="submit" value="Save">
  <i class="fa fa-times cancel-form-button"></i>
</form>
