<div class="list-title-container">
  <i class="fa fa-caret-square-o-down delete"></i>
  <div class="delete-dropdown-container"></div>
  <h2 class="list-title"><%= list.escape("title") %></h2>
  <div class="list-show-lists-form"></div>
</div>

<ul class="cards-list" data-list-id="<%= list.escape("id") %>"></ul>
<div class="cards-form-container">
  <span class="cards-form-button">Add a card...</span>
  <div class="cards-form"></div>
</div>
