<h2 class="list-title"><%= list.escape("title") %></h2></br>
<i class="fa fa-caret-square-o-down delete"></i>
<div class="delete-dropdown-container"></div>

<ul class="cards-list"></ul>
<div class="cards-form-container">
  <span class="cards-form-button">Add a card...</span>
  <div class="cards-form"></div>
</div>
